.select,
.select__body,
.select__current {
  background-color: $white;
}

.select {
  @extend .form-control;

  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  z-index: 2;

  .list-wrap {
    display: none;
    position: absolute;
    top: 60px;
    left: -1px;
    right: -1px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: $shadow;
    overflow: hidden;
  }
}

.select__current {
  width: 100%;
  height: 100%;
  padding-left: 16px !important;
  padding-right: 53px !important;
  font-size: $font-size-medium;
  text-align: left;
  border-radius: $border-radius;
  color: $secondary;

  @include media(">=xlarge") {
    font-size: $base-font-size;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 26px;
    border-top: 6px solid $secondary;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: translateY(-50%);

    @include media(">=medium") {
      right: 22px;
    }
    @include media(">=xlarge") {
      right: 19px;
    }
  }
}

.select-datepicker {
  .select__current {
    &:before {
      //content: $icon-calendar;
      //font-family: $icomoon-font-family;
      border: 0;
      right: 18px;
    }
    .icon {
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-50%);
    }
  }
}

.select--active {
  z-index: 10;
  .list-wrap {
    display: block;
  }
}

.select__body {
  max-height: 400px;
  overflow-y: auto;
}

.select__btn {
  width: 100%;
  padding: 12px $input-indent-x !important;
  font-size: $font-size-medium;
  color: $body-color;
  text-align: left;

  @include media(">=xlarge") {
    font-size: $base-font-size;
  }
}
